@import '../../_general';
@import '../../_mixins';

.date-location {
    @include displayFlex(flex, space-between, center, 0);
    border: 1px solid red;
    font-family: $defaultFont;
    .date {
        margin-left: 2%;
        .date-clock {
            font-size: 2vw;
        }
    }
    .location {
        margin-right: 2%;
    }
}