@import "../../_general";
@import "../../_mixins";

.date-location {
  @include displayFlex(flex, space-between, center, 0);
  font-family: $defaultFont;
  height: 45vh;
  background-size: cover;
  color: white;
  background-position: 50% 50%;
  .date {
    margin-left: 2%;
    .date-clock {
      font-size: 2vw;
    }
  }
  .location {
    margin-right: 2%;
  }
}

.weather-display {
  @include displayFlex(flex, space-around, center, 0);
  width: 100%;
  p {
    font-family: $defaultFont;
  }
  img {
    width: 100px;
    height: auto;
  }
  .temp, .humidity {
    @include displayFlex(flex, center, center, 0);
  }
}